text {
  font-size: 8px;
}
#radioButtons p {
  display:inline;
  font-size: small;
}
input {
  display: inline-block;
  font-size: small;
  width: 10px;
  margin: 0;
  padding: 0;
}
.line {
  fill: none;
  stroke: slategrey;
  stroke-width: 0.5;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 10px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
